

#manage-employees-main {
    .employee-management {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 45%;
    }

    input {
        padding: 5px 10px;
        width: 400px;
        height: 75px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: bold;
    }
    
    input:hover {
    opacity: 0.8;
    }

    #employee-management {

        padding: 0%;

        display: flex;
        justify-content: space-between;
        list-style: none;

        form ul {
            padding: 0;
            margin: 0;
            
        }

        li {
            margin-bottom: 10px;
        }

    }
    
    #manage-employees-table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;

        th {
            background-color: #f2f2f2;
        }

        th, td {
        border: 1px solid #686868;
        padding: 10px;
        text-align: left;
        }

        input {
            padding: 5px 10px;
            width: 100px;
            height: 35px;
        }

    }

    #add-employee {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #c5dffa;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    #add-employee:hover {
    background-color: #51a1f7;
    }

    .administrator {
    background-color: rgb(102, 205, 142);
    }

    .auditor {
    background-color: rgb(110, 150, 190);
    }

    .factory-manager {
    background-color: rgb(220, 90, 100);
    }

    .production-operator {
    background-color: rgb(255, 230, 90);
    }

    .administrator input:hover {
    background-color: rgb(82, 185, 122);
    }


    .auditor input:hover {
    background-color: rgb(90, 130, 170);
    }


    .factory-manager input:hover {
    background-color: rgb(200, 70, 80);
    }


    .production-operator input:hover {
    background-color: rgb(235, 215, 70);
    }

    
}

#machines-ul {
    padding: 0px;
    list-style: none;
    display: inline-flex;

    li {
        margin-right: 10px;
    }

    button {
        padding: 10px;
    }
}

#machines-table {
    width: 100%;
    border-collapse:collapse;

    td {
        border: black 2px solid;
        padding: 5px;
    }

    th {
        padding: 5px;
        background-color: #9293c0;
        border: black 2px solid;
    }

    .commissioned {
        background-color: white;
    }

    .decommissioned {
        background-color: rgb(255, 91, 91);
    }

    textarea {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        resize: none;
    }
    

    input {
        width: 100%;
        height: 100%;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10%;
        display: block;
        box-sizing: border-box;

    }

}