


#add-machines-form {
    ul {
        list-style: none;
    }

    input {
        padding: 5px;
    }
    button {
        padding: 5px;
    }
    
    ul{
        margin-right: 100px;

        li {
            padding-bottom: 10px;
        }
    }
}

#machine-name-error-message {
    color: red;
}

#machines-ul {
    padding: 0px;
    list-style: none;
    display: inline-flex;

    li {
        margin-right: 10px;
    }

    button {
        padding: 10px;
    }

    b {
        color: rgb(190, 2, 2);
    }
}

#machines-table {
    width: 100%;
    border-collapse:collapse;

    td {
        border: black 2px solid;
        padding: 5px;
    }

    th {
        padding: 5px;
        background-color: #9293c0;
        border: black 2px solid;
    }

    .commissioned {
        background-color: white;
    }

    .decommissioned {
        background-color: rgb(255, 91, 91);
    }

    textarea {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        resize: none;
    }
    

    input {
        width: 100%;
        height: 100%;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10%;
        display: block;
        box-sizing: border-box;

    }

}




#view-task-note-main {
    #search-bar {
        margin-bottom: 20px;
    }
        
    #sort-button {
        padding: 0%;
        height: 52px;
        width: 52px;
    
        img {
            padding: 0%;
            width: 50px;
            height: 50px;
        }
    }
    
    table {
        width: 100%;
        border-collapse:collapse;
        tr {
            background-color: #aaaaaa;
        }
    
        td {
            border: black 2px solid;
            padding: 5px;
        }
    
        th {
            padding: 5px;
            background-color: #5a5a5a;
            border: black 2px solid;
        }
    }
}


