#task-note-main ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px;
}

#task-note-main #task-note-buttons a button {
    width: 500px;
    height: 200px;
    padding: 100px;
    padding-bottom: 10%;
    padding-top: 10%;
    font-size: 32px;
    margin-bottom: 20px;
}

#task-note-main table {
    width: 100%;
    border-collapse: collapse;
}

#task-note-main table td {
    border: black 2px solid;
    padding: 5px;
    background-color: #e9e9e9;
}

#task-note-main table th {
    padding: 5px;
    background-color: #9293c0;
    border: black 2px solid;
}

#task-note-main table input {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

#view-notes-menu {
    list-style: none;
    padding: 0px;
}

#view-task-note-main #search-bar {
    margin-bottom: 20px;
}

#view-task-note-main #sort-button {
    padding: 0%;
    height: 52px;
    width: 52px;
}

#view-task-note-main #sort-button img {
    padding: 0%;
    width: 50px;
    height: 50px;
}

#view-task-note-main ul {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#view-task-note-main ul button {
    padding: 10px;
}

#view-task-note-main table {
    width: 100%;
    border-collapse: collapse;
}

#view-task-note-main table td {
    border: black 2px solid;
    padding: 5px;
    background-color: #e9e9e9;
}

#view-task-note-main table th {
    padding: 5px;
    background-color: #9293c0;
    border: black 2px solid;
}

#view-task-note-main table input {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

#create-task-note input, #create-task-note button, #create-task-note select {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}
#edit-task-note input, #edit-task-note button, #edit-task-note select {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}


#note-form-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    li ul {
        padding: 0%;
        list-style: none;
    }
}

#note-form-list input {
    padding: 5px;
}

#note-form-list #subject-field {
    width: 300px;
}

#note-form-list ul {
    margin-right: 100px;
}

#note-form-list ul li {
    padding-bottom: 10px;
}

#machines-ul {
    padding: 0px;
    list-style: none;
    display: inline-flex;
}

#machines-ul li {
    margin-right: 10px;
}

#machines-ul button {
    padding: 10px;
}

#machines-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

#machines-table td {
    border: black 2px solid;
    padding: 5px;
}

#machines-table th {
    padding: 5px;
    background-color: #9293c0;
    border: black 2px solid;
}

#machines-table .commissioned {
    background-color: white;
}

#machines-table .decommissioned {
    background-color: rgb(255, 91, 91);
}

#machines-table textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
}

#machines-table input {
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10%;
    display: block;
    box-sizing: border-box;
}

#jobs-main table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

#jobs-main table td {
    border: black 2px solid;
    padding: 5px;
}

#jobs-main table th {
    padding: 5px;
    background-color: #9293c0;
    border: black 2px solid;
}



#home-production-operator h1 {
    font-size: 70px;
    text-align: center;
}

#home-production-operator button {
    background-color: black;
    font-size: 16px;
    color: white;
    width: 210px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    border: black;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

#home-production-operator button:hover {
    background-color: #444;
}

#home-production-operator #user-role {
    margin: 0 auto;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    width: fit-content;
}
