body {
    margin: 0;
    background-image: url(Screenshot\ 2024-10-20\ 183808.png);
    background-size: 125%; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    font-family: 'Source Sans Pro';
    margin: 0;
    color: black;
    font-size: 24px;

    header {

        h1 {
            font-size: 48px;
            font-weight: bold;
            margin: 0px;
        }

        #header-bar {
            font-family: 'Source Sans Pro';
            margin: 0px;/* Remove margin from the header */
            background-color: white;
            color: #3b3b3b; /* Change text color to be visible against the white background */
            font-size: 24px;

            background-color: white; /* Change this to your desired color */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            display: flex;
            justify-content: space-between;
            
            a {
                text-decoration: none;
                color: #3b3b3b;
            }
            li {
                padding-left: 20px;
                padding-right: 20px;
                display: inline;
            }

        }
    }

    main {
        margin-left: 10px;
        margin-right: 10px;
    }
        
    button {
        font-family: 'Times New Roman', Times, serif;
    }
    input {
        font-family: 'Times New Roman', Times, serif;
    }

    canvas {
        border: 1px solid black;
        margin-left: 20px;
    }
}

header {
    margin: 0; /* Ensure the header has no margin */
}

#user-role {
    font-size: 20px;
}

#success-body {
    text-align: center;
    align-items: center;
    
    button {
        font-weight: bold;
        margin: 20px;
        padding: 4%;
        font-size: 32px;
    }
}

#login-body {
    align-items: center;
    text-align: center;
    margin-top: 10%;

    ul {
        padding: 0px;
    }

    li {
        list-style: none;
    }

    #login-error-p {
        color: rgb(214, 31, 31);
    }
}

